html{font-family: 'Luxurious Roman', cursive;}

body{background: #dd3e54;      background: -webkit-linear-gradient(to right, #6be585, #dd3e54);  
    background: linear-gradient(to right, #6be585, #dd3e54); 
    }
  


    #logo{
        width: 60px;
        height: 60px;
        margin: 0px;
    }
#titleWeb {
    display: inline-flex;
    border-radius: 50% 20% / 10% 40%;
    border-left: thick double #6be585;
    background-color:#dd3e54;
    padding: 20px;
    margin: 0px;
    cursor: pointer;
}







nav{
    padding-top: 2.8rem;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    }
    

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0px 60px 20px 60px;
    border-radius: 25% 10%;
    background-color:#dd3e54;
    padding: 10px;
}

nav ul li a {
    color:black;
    text-decoration-line: none;
    text-transform:capitalize;
  transition: .5s;
}
nav ul li a:hover{
    color:#6be585;
}
#tasks{
    width: 25%;
    height: 25%;

    margin-top: 0 ;
}

 

  #t01{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    margin: 10px;

}
#t1{
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    margin: 10px; 

}
 #n1{

    position: absolute;
    top: 65%;
    left: 60%;
    transform: translate(-50%, -50%);
    margin: 10px; 
}

#n2{

    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    margin: 10px; 
}
#n3{

    position: absolute;
    top: 75%;
    left: 60%;
    transform: translate(-50%, -50%);
    margin: 10px; 
}
#messages{

    position: absolute;
    top:90%;
    left: 60%;
    transform: translate(-50%, -50%);
    margin: 10px; 
}
 #s1{

    position: absolute;
    top: 95%;
    left: 60%;
    transform: translate(-50%, -50%);
    margin: 10px; 
} */

